snippet sign "sign" bA
	\author Martin Ludvigsen, Summer 2019	
endsnippet

snippet do "do" bA
do $0

enddo
endsnippet

snippet if "if" bA
if ($0)  then

endif
endsnippet

snippet pri "print"
print *, "$1", $1
endsnippet
